/* Estilos da página index.html */

.meio{
    text-align: center;
}

.tm{
    width: 60px;
    height: 60px;
    padding: 10px;
}

.cont{
    display: flex;
    justify-content: center;
}

.mb{
    margin-bottom: 50px;
}

.ml{
    margin-left: 90px;
}
.mr{
    margin-right: 90px;
}
